<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletGuardaConductor</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletGuardaConductor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarConductores</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletBuscarConductores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarConductores</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletActualizarConductores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarConductores</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletEliminarConductores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardaBus</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletGuardaBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarBuses</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletBuscarBuses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarBuses</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletActualizarBuses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarBuses</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletEliminarBuses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardaRuta</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletGuardaRuta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarRutas</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletBuscarRutas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarRutas</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletActualizarRutas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarRutas</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletEliminarRutas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardaCiudad</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletGuardaCiudad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarCiudades</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletBuscarCiudades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarCiudades</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletActualizarCiudades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarCiudades</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletEliminarCiudades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>controller.proyectoIngSW.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGuardaConductor</servlet-name>
        <url-pattern>/ServletGuardaConductor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarConductores</servlet-name>
        <url-pattern>/ServletBuscarConductores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarConductores</servlet-name>
        <url-pattern>/ServletActualizarConductores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarConductores</servlet-name>
        <url-pattern>/ServletEliminarConductores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardaBus</servlet-name>
        <url-pattern>/ServletGuardaBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarBuses</servlet-name>
        <url-pattern>/ServletBuscarBuses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarBuses</servlet-name>
        <url-pattern>/ServletActualizarBuses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarBuses</servlet-name>
        <url-pattern>/ServletEliminarBuses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardaRuta</servlet-name>
        <url-pattern>/ServletGuardaRuta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarRutas</servlet-name>
        <url-pattern>/ServletBuscarRutas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarRutas</servlet-name>
        <url-pattern>/ServletActualizarRutas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarRutas</servlet-name>
        <url-pattern>/ServletEliminarRutas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardaCiudad</servlet-name>
        <url-pattern>/ServletGuardaCiudad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarCiudades</servlet-name>
        <url-pattern>/ServletBuscarCiudades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarCiudades</servlet-name>
        <url-pattern>/ServletActualizarCiudades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarCiudades</servlet-name>
        <url-pattern>/ServletEliminarCiudades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
